# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/bother/mvnw
/bother/mvnw.cmd
/bother/.mvn/
/trouble/target/
/account/target/
/app/target/
/block/target/
/bother/target/
/consensus/target/
/contract/target/
/encryption/target/
/entity/target/
/storage/target/
/token/target/
/tools/target/
